* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Hero Section Styles */
#hero img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #b84800;
    display: block;
    margin: 0 auto 20px auto;
}
#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
}

#hero h1 {
    font-size: 3rem;
    color: #ffffff;
    margin-bottom: 10px;
}

#hero p {
    font-size: 1.2rem;
    color: #b84800;
}
/* Global Styles */
body {
    background-color:  #1a1a2e;
    color: #a0a0a0;
    font-family: "Outfit", sans-serif;
    padding-top: 80px;
    line-height: 1.5;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#1c1c1c;
    padding: 20px 40px;
    display: flex;
    gap: 30px;
}

nav a {
    color: #a0a0a0;
    text-decoration: none;
    font-family: "Figtree", sans-serif;
    font-size: 1rem;
}

nav a:hover {
    color: #b84800;
}

section {
    max-width: 900px;
    margin: 0 auto;
    padding: 60px 40px;
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-weight: 700; 
  font-size: 1.25rem;
}
h2{
    font-family: 'Outfit', sans-serif;
    font-weight: 700;
    font-size: 1rem;
}

p, li {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    color: #a0a0a0;
    font-size: 0.75rem;
}
/* Projects Page Styles */
